//font

$font-kr: 'Spoqa Han Sans Neo', 'sans-serif';
$font-en: 'Spoqa Han Sans Neo', 'sans-serif';

//color
$text: #181f28;
$blue: #3182f6;
$gray-t: #6b7785;
$gray-f: #6b7684;

$bgc-w: #fff;
$bgc-g: #f8fafb;
$bgc-b: #192028;

//
